.x-hundred-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.x-hundred-top__left {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #242347;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
.x-hundred-top__left-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.x-hundred-top__left-top-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.x-hundred-top__left-top-item img {
  position: relative;
  margin-left: -12px;
}
.x-hundred-top__left-top-item h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32.62px;
  color: #ffffff;
}
.x-hundred-top__left-top-info {
  width: 125px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 44px;
  background: #302f51;
}
.x-hundred-top__left-top-info,
.x-hundred-top__left-centr label {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #9897a8;
}
.x-hundred-top__left-centr {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.x-hundred-input-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.x-hundred-input-item-box {
  width: 245px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  background: #504f6c;
}
.x-hundred-input-item input {
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  background: transparent;
}

.x-hundred-input-item input:focus::-webkit-input-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus::-moz-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus:-moz-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus:-ms-input-placeholder {
  color: transparent;
}
.x-hundred-input-item input::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
}
.x-hundred-input-item input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
}
.x-hundred-input-item input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
}
.x-hundred-input-item input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}
.x-hundred-input-item input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.x-hundred-input-item input::placeholder {
  /* Most modern browsers support this now. */
  color: #ffffff;
}
.x-hundred-input-item button {
  background: #504f6c;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.x-hundred-top__left-centr-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.x-hundred-top__left-centr-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #ffffff;
  background: linear-gradient(180deg, #34326a 0%, #36328f 100%);
}
.x-hundred-top__left-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.x-hundred-top__left-bottom button {
  max-width: 95px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #ffffff;
}
.item-x2 {
  background: linear-gradient(90deg, #2858d9 0%, #417bea 100%);
}
.item-x3 {
  background: linear-gradient(90deg, #e9a43a 0%, #f2c36a 100%);
}
.item-x10 {
  background: linear-gradient(90deg, #479e5d 0%, #4add74 100%);
}
.item-x15 {
  background: linear-gradient(90deg, #6621d7 0%, #813dda 100%);
}
.item-x20 {
  background: linear-gradient(90deg, #e94f28 0%, #f08f57 100%);
}
.item-x100 {
  background: linear-gradient(90deg, #d04039 0%, #fa7773 100%);
}
/*=====bids=====*/
.bids {
  width: 100%;
  background: #242347;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bids__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bids__title h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  text-transform: uppercase;
  color: #ffffff;
}
.bids__item-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-hidde {
  display: none;
}
.bids__item {
  width: 131.17px;
  height: 66px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #302f51;
}
.bids__item-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bids__item-top span {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.item-top-x2 {
  background: linear-gradient(90deg, #2858d9 0%, #417bea 100%),
    linear-gradient(0deg, #d9d9d9, #d9d9d9);
}
.item-top-x3 {
  background: linear-gradient(90deg, #e9a43a 0%, #f2c36a 100%);
}
.item-top-x10 {
  background: linear-gradient(90deg, #479e5d 0%, #4add74 100%);
}
.item-top-x15 {
  background: linear-gradient(90deg, #6621d7 0%, #813dda 100%);
}
.item-top-x20 {
  background: linear-gradient(90deg, #e94f28 0%, #f08f57 100%);
}
.item-top-x100 {
  background: linear-gradient(90deg, #d04039 0%, #fa7773 100%);
}
.bids__num {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px;
  color: #ffffff;
}
.bids__item-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bids__item-count {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bids__item-count p {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #ffffff;
}
.bids__item-box-full {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bids__item-full {
  width: 282.33px;
  height: 214.34px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bids__item-full-top {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
