.x-hundred-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.x-hundred-top__left {
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #242347;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
.x-hundred-top__left-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.x-hundred-top__left-top-item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.x-hundred-top__left-top-item img {
  position: relative;
  margin-left: -12px;
}
.x-hundred-top__left-top-item h1 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32.62px;
  color: #ffffff;
}
.x-hundred-top__left-top-info {
  width: 125px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 44px;
  background: #302f51;
}
.x-hundred-top__left-top-info,
.x-hundred-top__left-centr label {
  font-weight: 500;
  font-size: 12px;
  line-height: 14.63px;
  color: #9897a8;
}
.x-hundred-top__left-centr {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.x-hundred-input-item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.x-hundred-input-item input {
  width: 245px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: white;
  background: #504f6c;
}

.x-hundred-input-item input {
  outline: none;
}
.x-hundred-input-item input:focus::-webkit-input-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus::-moz-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus:-moz-placeholder {
  color: transparent;
}

.x-hundred-input-item input:focus:-ms-input-placeholder {
  color: transparent;
}
